* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.left-column {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  background-color: #EEF1F3;
  text-align: left;
  overflow: auto;
}

.right-column {
  width: 25vw;
  padding: 10px;
  background-color: #ffffff;
  border-left: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.conversations {
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 10px;
}

.conversation {
  margin-bottom: 10px;
}

.submitted-prompt {
  padding: 10px;
  background-color: #cfe1f5;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 16px;
  white-space: pre-wrap;
  margin-bottom: 5px;
  margin-left: 60px;
}

.ai-response {
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 16px;
  white-space: pre-wrap;
  margin-bottom: 5px;
  margin-right: 60px;
}

header {
  width: 100%;
  padding: 10px;
  background-color: white;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  position: fixed;
  top: 0;
  left: 0;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
  margin-right: 10px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 60px; /* Offset for header */
}

.welcome-section {
  text-align: center;
}

.welcome-message img.main-logo {
  width: 100px;
  margin-bottom: 20px;
}

h2 {
  font-size: 26px;
  margin-bottom: 10px;
  font-weight: bold;
}

p {
  font-size: 16px;
  margin-bottom: 20px;
  color: #555;
}

h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.welcome-section {
  text-align: center;
}

.welcome-message img.main-logo {
  width: 100px;
  margin-bottom: 20px;
}

.left-column .generated-recipe {
  text-align: left;
}

.scrollable-input {
  width: 100%;
  height: 100px;
  resize: none;
  border: none;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
  font-size: 22px;
}

#non-send-buttons {
  display: flex;
}

.send-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: #65558F;
  transition: background-color 0.3s;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  height: 30px;
}

.send-button .send-icon {
  margin-right: 5px;
  display: flex;
  align-items: center;
}

button {
  background-color: #65558F;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 70px;
}

button:hover {
  background-color: #4d3c77;
  transform: scale(1.05);
  transform-origin: center;
}

/* Use CSS Grid for buttons */
.button-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  gap: 30px; /* Spacing between buttons */
  justify-items: center; /* Center buttons */
  margin: 20px;
}

.sub-header {
  margin-top: 45px;
}

.fluent-card {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.fluent-card h3 {
  margin-bottom: 5px;
  font-size: 18px;
}

.fluent-card p {
  font-size: 14px;
  color: #666;
}

.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.send-button {
  height: 40px;
}

#source-code-content {
  width: '100%';
  height: '100%';
  font-family: 'Courier New', Courier, monospace;
  overflow-y: scroll;
}

.file-input-wrapper,
.image-upload-wrapper,
.generic-button-input-wrapper {
  display: inline-block;
  position: relative;
}

.file-input-label,
.image-upload-label,
.generic-button-input-off {
  cursor: pointer;
  display: inline-block;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 4px;
  transition: background-color 0.3s;
  margin-left: 3px;
}

.file-input-label:hover,
.image-upload-label:hover,
.generic-button-input-off:hover,
.send-button:hover {
  background-color: #e0e0e0;
}

.generic-button-input-on {
  cursor: pointer;
  display: inline-block;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 4px;
  background-color: #65558F;
  transition: background-color 0.3s;
  margin-left: 3px;
}

.generic-button-input-on:hover {
  background-color: #4a3974;
}

.tab-list-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  padding: 15px;
}

.tab-nav {
  overflow-x: scroll;
}

.tab-list::-webkit-scrollbar {
  display: none;
}

.tab-list {
  display: flex;
  gap: .5em;
  margin: 0;
  padding: 0;
  color: #888;
  list-style: none;
  /* Ensure no bullet points */
}

.tab-list li {
  display: block;
  margin-bottom: -2px;
}

.right-tab-list-wrapper {
  display: flex;
  gap: 5px;
}

.download-button-wrapper,
.upload-button-wrapper,
.chat-visibility-button {
  display: flex;
  align-items: center;
  margin: 0;
  /* Reset margin if any */
}

.chat-visibility-button {
  cursor: pointer;
  padding: 10px;
}

.chat-visibility-button:hover {
  color: #4d3c77;
}

.download-button,
.upload-button {
  padding: 10px 20px;
  background-color: #65558F;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  min-width: 75px;
  /* Adjust as needed to fit content */
}

.download-button:hover,
.upload-button:hover {
  background-color: #4d3c77;
}

.container,
.tabs,
.tab-panel {
  display: flex;
  height: 100vh;
  /* Full viewport height */
  width: 100%;
}

.tab-panel {
  overflow-y: auto;
}

#generated-content-iframe {
  flex: 1;
  width: 100%;
  border: none;
}

.loading-spinner {
  position: fixed;
  /* Use fixed to ensure it stays in the center of the viewport */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background: rgba(255, 255, 255, 0.5);
  /* Optional: to mask the iframe */
  padding: 10px;
  border-radius: 5px;
}

.scrollable-input {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 5px;
}

.url-input-box {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border: 1px solid #ccc;
  padding: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
  border-radius: 15px;
}

.url-input-box input {
  width: 250px;
}

@media (prefers-color-scheme: dark) {

  html,
  body {
    background-color: #1e1e1e;
  }

  .container {
    background-color: #1e1e1e;
  }

  .left-column {
    background-color: #2a2a2a;
    color: #dcdcdc;
  }

  .right-column {
    background-color: #333333;
    border-left: 1px solid #555;
    color: #f0f0f0;
  }

  .conversations {
    background-color: #2a2a2a;
  }

  .conversation {
    color: #dcdcdc;
  }

  .submitted-prompt,
  .ai-response {
    background-color: #2f2f2f;
    border: 1px solid #555;
    color: #f0f0f0;
  }

  .left-column .generated-recipe {
    color: #dcdcdc;
  }

  .scrollable-input {
    background-color: #3a3a3a;
    color: #f0f0f0;
    border: none;
  }

  .send-icon {
    background-color: #1e90ff;
  }

  .file-input-label,
  .image-upload-label,
  .send-button {
    background-color: #444444;
    color: #f0f0f0;
  }

  .file-input-label:hover,
  .image-upload-label:hover,
  .send-button:hover {
    background-color: #555555;
  }

  .tab-list {
    border-bottom: 2px solid #444;
    color: #ccc;
  }

  .loading-spinner {
    background: rgba(0, 0, 0, 0.5);
  }

}