select {
    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    color: #333;
    width: 12vw;
    box-sizing: border-box;
    cursor: pointer;
}

select:hover, #new-chat-button:hover, #delete-chat-button:hover {
    border-color: #646cff;
}

.conversation-header {
    display: flex;
    justify-content: space-between;
}

#conversation-header-buttons {
    display: flex;
}

#new-chat-button, #delete-chat-button {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 4px;
    padding: 8px;
    border: 1px solid #ccc;
}

#new-chat-button-wrapper, #delete-chat-button-wrapper {
    height: 50px;
}

#session-history {
    height: 50px
}

#conversation {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full height of the viewport */
}
  
#conversation-header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000; 
    margin-bottom: 10px;
}

#conversations-container {
    flex: 1;
    overflow-y: auto;
    padding-top: 10px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.response-suggestion {
    font-family: inherit;
    padding: 4px;
    margin-right: 6px;
    margin-top: 2px;
    margin-bottom: 4px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    user-select: text;
}