annotated-types==0.7.0
anyio==4.4.0
asgiref==3.8.1
azure-common==1.1.28
azure-core==1.31.0
azure-identity==1.17.1
azure-mgmt-core==1.4.0
azure-mgmt-resource==23.1.1
azure-mgmt-storage==21.2.1
azure-storage-blob==12.23.0
beautifulsoup4==4.12.3
pypdf==3.17.0
pypandoc-binary==1.13
openpyxl==3.1.5
